/*OVERALL SETTINGS*/
html {
  scroll-behavior: smooth;
  /*scroll-padding: 5rem;
  scroll-padding: var(--scroll-pading, 5rem);*/
  
}




body {
  font-family: "Poppins", sans-serif;
  color:  #0c0c0c;
  background-image: url('images/fullbg.png'); /* Add this line for the background image */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* spacing btw sections */
.layout_padding {
  padding: 50px 0;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: #d5cfcf;
}

.heading_container p {
  position: relative;
  color: #d5cfcf;
}



/*header section*/
.header_section {
  padding-top: 10px;
  margin-left: 20px;
  background-color: transparent;
}

.fixed-left {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: transparent; /* Set your desired background color */
  padding-top: 20px; /* Adjust the top padding as needed */
  z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
}

.custom_nav-container .navbar-toggler {
  order: -1; /* Move the toggler to the left side */
}

.custom_nav-container .navbar-nav {
  flex-direction: column; /* Arrange the nav items vertically */
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  background-color: transparent;
  padding: 10px; /* Adjust the padding as needed */
  margin: 5px 0; /* Adjust the margin as needed */
  text-align: left; /* Align the text to the left */
  color: rgb(192, 188, 188);
  /*color: (166, 159, 159); darker color*/
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover {
  color: #6bb7be;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: 700;
  color: #d5cfcf;
  text-transform: uppercase;
}



/*intro section*/
.intro_section .heading_container {
  /*-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;*/
  text-align: left;
}

.intro_section .heading_container h1 {
  padding-top: 200px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: #d5cfcf;
}

.intro_section .heading_container p {
  padding-bottom: 250px;
  position: relative;  
  color: #d5cfcf;  
}

#intro_section {
  position: relative;
  
}
/*
#intro_heading .background_image {
  width: 105%;     
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
*/


/* overview section*/
.overview_section .heading_container h2 {
  /*-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;*/
  text-align: center;
}

.overview_section .heading_container p {
  text-align: justify;
}  
  
.overview_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
  
.overview_section .box {  
  margin-top: 0px;
  background-color: white; 
  padding: 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
  
.overview_section .box .img-box {
  /*display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /*-webkit-box-pack: center;
  -ms-flex-pack: center;*/
  justify-content: center;
  /*-webkit-box-align: center;
  -ms-flex-align: center;*/
  align-items: center;
  /*height: 275px;*/
  padding: 25px;
}

.overview_section .box .img-box iframe {
  width: 100%; 
  height: 100%; 
  border: 0; 
}

.overview_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  width: auto; 
  height: auto; 
  color: #d5cfcf;
}
  
.overview_section .box .detail-box {
  margin-top: 15px;
  color: #d5cfcf;
}



/* factors section */

.factors_section .row {
  /*-webkit-box-align: center;
  -ms-flex-align: center;*/
  align-items: center;
}

.factors_section .row p { 
  text-align: justify;
}

.factors_section .box { 
  margin-top: 0px;
  background-color: #484242;
  padding: 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
}

.factors_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 275px;
  padding: 25px;
}

.factors_section .box .img-box iframe {
  width: 100%; 
  height: 100%; 
  border: 0; 
}

.factors_section .box .img-box img {
  color: #d5cfcf;
  width: 120%; 
  height: 140%;
  display: block;
  border-radius: 5px;
}

.factors_section .box .detail-box {
  margin-top: 15px;
  color: #d5cfcf;
}

 

/* symptoms section */
.symptoms_section .row {
  /*-webkit-box-align: center;
  -ms-flex-align: center;*/
  align-items: center;
}

.symptoms_section .row p { 
  text-align: justify;
}

.symptoms_section .box {   
  margin-top: 0px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.symptoms_section .box .img-box {
  /*display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /*-webkit-box-pack: center;
  -ms-flex-pack: center;*/
  justify-content: center;
  /*-webkit-box-align: center;
  -ms-flex-align: center;*/
  align-items: center;
  /*height: 275px;
  padding: 25px;*/
}

.symptoms_section .box .img-box iframe {
  width: 100%;
  height: auto; 
  border: 0;
}

.symptoms_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  width: auto; 
  height: auto;
  color: #d5cfcf;
}

.symptoms_section .box .detail-box {
  margin-top: 15px;
  color: #d5cfcf;
}
/*
.symptoms_section .box .detail-box h2 {
  text-transform: uppercase;
  font-size: 18px;
}
*/



/* self-assessment section*/
.self-assessment_section {
  background-color: ;
}

.self-assessment_section .heading_container {
/*  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;*/
          text-align: center;
}

.self-assessment_section .heading_container p { 
  text-align: justify;
}

.self-assessment_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.self-assessment_section .box {
  margin-top: 20px;                     /*space in btw box and title*/
  background-color: white;
  padding: 45px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
/*
.self-assessment_section .box .img-box {
  position: relative;
}

.self-assessment_section .box .img-box img {
  width: 100%;
  color: #d5cfcf;
}
*/
.self-assessment_section .box .detail-box {
  padding: 0px;         /*padding change to 25px if there is image above*/
  text-align: center;
}

.self-assessment_section .box .detail-box h5 {
  font-weight: bold;
  color: #d5cfcf;
  /*padding-bottom: 5px;*/
}

.self-assessment_section .box .detail-box p {
  font-size: 15px;
  color: #d5cfcf;
  text-align: ;
  /*padding-bottom: 20px;*/
}

.self-assessment_section .box .detail-box a {
  display: inline-block;
  /*padding: 10px 30px;*/
  background-color: #6bb7be;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #6bb7be;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.self-assessment_section .box .detail-box a:hover {
  background-color: transparent;
  color: #6bb7be;
}



/*conclusion section*/
.conclusion_section {
  background-color: ;
}

.conclusion_section h2 {
  text-align: center;
}

.conclusion_section p {
  text-align: center;
}



/* info section
.info_section {
  background-color: #191e1f;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
}

.info_section h4 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}

.info_section .info_form .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.info_section .info_form .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid #6bb7be;
  color: #6bb7be;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .info_form .social_box a:hover {
  color: #f89646;
  border-color: #f89646;
}

.info_section .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  text-align: center;
}

.info_section .contact_nav a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.info_section .contact_nav a i {
  font-size: 28px;
}

.info_section .contact_nav a:hover {
  color: #f89646;
}

.info_section .disclaimer {
  color: ;
}
*/



/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
  background-color: #191e1f;
}

.footer_section p {
  font-size: 12px;
  color: #d5cfcf;
  padding: 25px 0;
  margin: 0;
}



/* Go-to-Top button styles */
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*background-color: #d5cfcf;*/
  color: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.go-to-top:hover {
  background-color: rgb(140, 131, 131);
}
